{% extends 'base.html' %}
{% block title %}{{prod.product_name}}{% endblock title %}
{% block body %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    
<div class="container my-5">
    <div class="row">
        <div class="col-md-4 col-11 text-center align-items-center">
            <img src="/media/{{prod.image}}" alt="" width="300px" height="350px">
        </div>

        <div class="col-md-8 col-11">
            <h1>
                {{prod.product_name}}
            </h1>
            <div class="row">
                <button type="button" class="btn btn-outline-dark btn-sm mx-3" style="width: 100px;">Buy Now</button>
                <button type="button" id="{{prod.id}}" class="btn btn-outline-dark btn-sm cart" style="width: 100px;">Add To Cart</button>
            </div>
            <p class="my-2 mx-1"><b>Rs. {{prod.price}}</b></p>
            <p class="my-5">{{prod.desc}}</p>
        </div>
    </div>
</div>

{% endblock body %}
{% block js %}
<script> 
      if(localStorage.getItem('cart') == null){
        console.log("nothing")
        var cart = {}
      }
      else{
        cart = JSON.parse(localStorage.getItem('cart'));
         document.getElementById('cart_quantity').innerHTML = Object.keys(cart).length;
      }
      $('.cart').click(function(){
        console.log('click')
        var idString = this.id.toString();
        console.log(idString)
        if(cart[idString] != undefined){
          cart[idString] += 1;
        }
        else{
          cart[idString] = 1;
        }
        localStorage.setItem('cart',JSON.stringify(cart));        
        document.getElementById('cart_quantity').innerHTML = Object.keys(cart).length;
        alert('Item Added to Cart');
      });
      
    </script>

{% endblock js %}
